.board {
  flex: 1;
  overflow: visible;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 1vh;
  max-height: calc(100% - 100px);
}
