.playerInfo {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end {
  margin-top: auto;
}

.selected {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .playerInfo {
    display: block;
    font-size: 12px;
  }
  .selected {
    font-size: 12px;
  }
}
