@import "../../scss/variables";

.card {
  width: 19vh;
  height: 19vh;
  max-width: 19vw;
  max-height: 19vw;
  margin: 0.2vh;
  perspective: 1000px;
  transition: opacity 0.5s ease-out;
  transform-origin: left;
  cursor: pointer;
}

.img {
  vertical-align: middle;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform $transitionLength ease-out;
  transform-style: preserve-3d;
  background-color: #aaaaaa;
  border-radius: 5px;
}

.flipped {
  cursor: default;
}

.flipped .inner {
  transform: rotateY(180deg);
  background-color: #fff;
  .back {
    .layer {
      opacity: 0;
    }
  }
  .front {
    .layer {
      opacity: 1;
    }
  }
}

.cleared {
  opacity: 0.15;
  transition-delay: 1s;
  cursor: default;
}

.front,
.back {
  position: absolute;
  padding: 1vh;
  border: 1px solid dimgrey;
  background-color: snow;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  .layer {
    opacity: 1;
  }
}

.layer {
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: opacity $transitionLength ease-out;
}

.pattern {
  width: 100%;
  height: 100%;
  background-color: #6d695c;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;
}
